<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="DB_4BitsEntities"
      connectionString="metadata=res://*/Entity.Entity.csdl|res://*/Entity.Entity.ssdl|res://*/Entity.Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=DB_4Bits;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>  
  </connectionStrings>
 
</configuration>