<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DB_4BitsEntities" connectionString="metadata=res://*/Entity.MiEntity.csdl|res://*/Entity.MiEntity.ssdl|res://*/Entity.MiEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5ANANLH\SQLEXPRESS;initial catalog=DB_4Bits;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>